* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    overflow-x: hidden;
    color: rgb(255, 255, 255);


}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #000000;
    color: #ffffff;
    padding: 2%;
    margin: 1%;

}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.botoes {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: flex-end;

}

.botoes a {
    text-decoration: none;
    color: #ffffff;
}

main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.eu {

    width: 350px;
    height: 420px;
    border-radius: 16px;
    margin: 2%;
    padding: 2%;
}
